<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timothychoy.myfirstapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".StartUpActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyActivity"
            android:label="@string/title_activity_my"
            android:parentActivityName=".StartUpActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".Geocache1Activity"
            android:label="@string/title_activity_geocache1"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Geocache2Activity"
            android:label="@string/title_activity_geocache2"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Geocache3Activity"
            android:label="@string/title_activity_geocache3"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Geocache4Activity"
            android:label="@string/title_activity_geocache4"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Geocache5Activity"
            android:label="@string/title_activity_geocache5"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Geocache6Activity"
            android:label="@string/title_activity_geocache6"
            android:parentActivityName=".MyActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.MyActivity" />
        </activity>
        <activity
            android:name=".Map1Activity"
            android:label="@string/title_activity_map1"
            android:parentActivityName=".Geocache1Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.Geocache1Activity" />
        </activity>
        <activity
            android:name=".Map2Activity"
            android:label="@string/title_activity_map2"
            android:parentActivityName=".Geocache2Activity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.timothychoy.myfirstapp.Geocache2Activity" />
        </activity>
    </application>

</manifest>
